:root {
  --text-color: #ccc;
  --primary-color: #ee017c;
  --secondary-color: #323232;
  --internal-spacing: 10px;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body{
  background: #111;
}

.container {
  position: relative;
}

.canvas {
  color: var(--text-color);
  font-family: 'Press Start 2P', cursive;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;

  transform: translate3d(0);
  transition: .3s ease all;
}