.heart {
  margin-top: auto;
  font-size: 12px;
  width: 100%;
  height: 20%;
  text-align: center;
  background: var(--secondary-color);
}

@media(max-width: 560px) {
  .heart {
    height: 10%;
  }
}

.heart__css {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    position: relative;
    display: inline-block;
    animation: pulse .5s infinite alternate ease-in;
  }
  .heart__css:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
  }
  .heart__css:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
  }

  @keyframes pulse {
      from {transform: rotate(-135deg) scale(1);}
      to   {transform: rotate(-135deg) scale(1.2);}
  }
  .heart__author {
    color: var(--default-color);
    text-decoration: none;
  }