.main {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__title {
  text-align: center;
  padding: var(--internal-spacing);
  font-size: 18px;

  margin: 0 auto;
}

.main__chronometer {
  text-align: center;
  padding: var(--internal-spacing);
  font-size: 32px;
  color: var(--primary-color);

  margin: 0;
}

.button {
  border: 3px solid var(--primary-color);
  width: 100px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__on-off {
  font-family: 'Press Start 2P', cursive;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 5px;

  border: none;
  width: 50px;
  background: var(--bg-color);
  cursor: pointer;
}

.button__is-active{
  color: #baff58;
  background: var(--secondary-color);
}