:root {
  --default-color: #ccc;
  --primary-color: #ee017c;
  --secondary-color: #baff58;
  --external-spacing: 20px;
  --internal-spacing: 10px;
  --default-width: 80%;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: calc(100% - 200px);
}

body{
  background: #000;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas {
  border: 1px solid purple;
  color: var(--default-color);
  font-family: 'Press Start 2P', cursive;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  
  margin: 0 auto;

  transform: translate3d(0);
  transition: .3s ease all;
  backface-visibility: hidden;
  position: relative;
}

/* aside */
.menu {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;

  height: 100%;
  position: absolute;
  transform: translate3d(-250px,0,0);
  width: 250px;
  background: #323232;
  left: 0;
  top: 0;
  padding: 20px;
}

.menu__link {
  text-align: center;
  padding: var(--internal-spacing);
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
}

.menu__label {
  font-size: 12px;
  padding: 5px;
  margin-top: 20px;
}

.menu__input {
  font-size: 12px;
  padding: 2px;
}
.container.show-menu .canvas {
  transform: translate3d(250px,0,0);
}

/* header */
.header {
  border: 1px solid purple;
  width: 100%;
}

.menu__toggle {
  width: 100%;
  display: flex;
  align-items: center;
}

.menu-toggle__settings {
  padding: 10px;
  border: 1px solid purple;
}

.menu-toggle__text {
  border: 1px solid purple;
  font-size: 12px;
  color: var(--default-color);
}

/* main */
.main {
  width: 100%;
  border: 1px solid purple;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__title {
  text-align: center;
  padding: var(--internal-spacing);
  font-size: 14px;

  margin: 0 auto;
}

.main__chronometer {
  text-align: center;
  padding: var(--internal-spacing);
  font-size: 32px;
  color: var(--primary-color);
  margin: 0;
}

.button {
  width: 100%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__on-off {
  font-family: 'Press Start 2P', cursive;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 12px;

  padding: 5px;
  border: 2px solid var(--primary-color);
  width: 50px;
  background: #323232;
}

/* footer */
.footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.footer__clock {
  display: flex;
  width: 100%;
  border: 1px solid purple;
  justify-content: space-between;
  padding: 10px;
}

.time {
  border: 1px solid purple;
  font-size: 12px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;  
}

.time__title {
  padding: 5px;
  margin: 0;
}

.time__time {
  color: var(--primary-color);
  font-size: 16px;
  margin: 5px;
}

.time__date {
  margin: 5px;
}

.footer__heart {
  margin: 30px auto 0 auto;
}

.heart {
  border: 1px solid purple;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    position: relative;
    display: inline-block;
    animation: pulse .5s infinite alternate ease-in;
  }
  .heart:before {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
  }
  .heart:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
  }
  @keyframes pulse {
      from {transform: rotate(-135deg) scale(1);}
      to   {transform: rotate(-135deg) scale(1.2);}
  }
  a {
    color: #000;
    text-decoration: none;
  }